<h2> <%= @merchant.name %> Discount Show Page- <%= @discount.name %> </h2>

<br>
  <p><h3>Discount name:</h3> <%= @discount.name %> </p>
  <p><h3>Discount threshold:</h3> <%= @discount.threshold %> items </p>
  <p><h3>Discount percentage:</h3> <%= @discount.percentage %>% </p>
</br>

<%= link_to "Edit discount", "/merchants/#{@merchant.id}/discounts/#{@discount.id}/edit" %>